<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:description="@string/module_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/module_name"
        android:theme="@style/ModuleTheme">
        <!-- LSPosed IT's Manager uses these legacy keys for package discovery. -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="101" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".ModuleStatusProvider"
            android:authorities="dev.bucket.launcherslogan.status"
            android:exported="true"
            android:grantUriPermissions="false" />
    </application>
</manifest>
